<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MainTabelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Post.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SaudiN'US.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StudentData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5444450416A7DD580004E4CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54AE6B6A165613A30062B9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54AFEDBC169166DC00EB13CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54BF8C9E16535724007A45D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
